cache/
out/
node_modules/

# Ignore Environment Variables!
.env
.env.prod
.envrc

# Ignore all vscode settings
.vscode/

# Ignore flattened files
flattened.txt

# Ignore Mac files
.DS_Store

node_modules
.env

# Hardhat files
/cache
/artifacts
/cache2
/artifacts2

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json
